.gallery{
    background:white;
}
.img-grid{
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    gap: 50px 50px;
    /* column-gap: ; */
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    /* margin-top: 5%; */
}
.img-single{
    height: 300px;
    width: 300px;
    border: 2px solid teal;
    border-radius: 10px;
    box-shadow: 0 10px 10px;
    /* z-index: 1; */
    transition: width 2s, height 4s;
    /* position: relative; */
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imageTitle{
    position: relative;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    transform: translateY(-40px);
    padding: 5px;
    border-radius: 5px;
    
}

.img-single:hover {
    cursor: pointer;
    border-color: gray;

    box-shadow: 0 20px 20px;
  
}

@media only screen and (max-width: 768px) {

        .img-grid{
            grid-template-columns: auto auto;
   
        }
    
}

@media only screen and (max-width: 425px) {

    .img-grid{
        grid-template-columns: auto ;

    }

}