@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.research {
  height: 100%;
  width: 100%;
}
.Rtitle{
  
  font-family: "Playfair Display",Georgia,"Times New";
   padding: 4px;
    border-radius: 5px;
    color: black;
    font-weight: 400;
    font-size: 300%;
    /* margin-left: 5%; */
    /* font-style: italic; */
    /* text-decoration: underline; */
    /* text-align: center; */
}
.cover{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}
.linktarget{
    color: teal;
    text-decoration: none;
}
.Categories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.eachCategory {
  
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  
}

.eachCategory2{
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(36, 129, 129,0.5);
}
.eachCategory:hover {
  background: rgb(36, 129, 129,0.5);

}
.eachCategory2:hover {
  background: rgb(36, 129, 129,0.5);
}

.research-data{

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-family: 'Ibarra Real Nova', serif; */
    font-family:serif;
    font-size: 120%;    
    font-weight: 250%;
    /* text-decoration: underline; */
   
    text-align: justify;
}


.fonticon{
    font-size: 100%;
}

@media screen and (max-width:425px){
    .Categories{
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;
    }
    .research-data{
        font-size: 80%;
        margin: 0%;
        margin-right: 10%;
    }
    
}

@media screen and(max-width:768px) {
    .research-data{
        margin-right: 10%;
        font-size: 80%;   
    }
    
}